<title><%= @user.name %></title>
<div class="container-fluid">
  <div class="row-fluid">
    <span class="span10">
      <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      </section>
      <% if @user.performers.any? %>
        <h3>Listed Performers</h3>
        <ol class="performers">
          <%= render @performers %>
        </ol>
        <%= will_paginate @performers %>
      <% end %>
    </span>
  </div>
</div>
