<title>View performer</title>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @performer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @performer.description %>
</p>

<h2>Reviews</h2>
<%= render @performer.reviews %>

<br />

<%= link_to "Edit listing", edit_performer_path(@performer) %>

<%= link_to 'Back', performers_path %>
