<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @performer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @performer.description %>
</p>

<h2>Reviews</h2>
<%= render @performer.reviews %>

<h3>Add review</h3>
<%= render "reviews/form" %>

<br />

<%= link_to 'Back', performers_path %>
